aiofiles==23.2.1
aiolimiter==1.2.1
annotated-types==0.7.0
anyio==4.8.0
anytree==2.13.0
asttokens==2.4.1
asyncer==0.0.7
atlassian-python-api==3.41.19
autograd==1.7.0
azure-common==1.1.28
azure-core==1.33.0
azure-cosmos==4.9.0
azure-identity==1.21.0
azure-search-documents==11.5.2
azure-storage-blob==12.25.1
beartype==0.18.5
beautifulsoup4==4.12.3
bidict==0.23.1
blis==1.2.1
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
chainlit==2.0.602
charset-normalizer==3.4.1
chevron==0.14.0
click==8.1.8
cloudpathlib==0.21.0
confection==0.1.5
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
Deprecated==1.2.18
deprecation==2.1.0
devtools==0.12.2
distro==1.9.0
duckduckgo_search==7.3.0
environs==11.2.1
executing==2.2.0
fastapi==0.115.7
filelock==3.17.0
filetype==1.2.0
fnllm==0.2.9
fonttools==4.57.0
fsspec==2024.12.0
future==1.0.0
gensim==4.3.3
googleapis-common-protos==1.66.0
graspologic==3.4.1
graspologic-native==1.2.5
grpcio==1.70.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
hyppo==0.4.0
idna==3.10
importlib_metadata==8.5.0
interchange==2021.0.4
isodate==0.7.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json_repair==0.39.1
jsonref==1.1.0
kiwisolver==1.4.8
lancedb==0.17.0
langcodes==3.5.0
language_data==1.3.0
Lazify==0.4.0
literalai==0.1.103
llvmlite==0.44.0
lxml==5.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==3.0.2
marshmallow==3.26.0
matplotlib==3.10.1
mcp==1.6.0
mcpadapt==0.1.3
mdurl==0.1.2
monotonic==1.6
msal==1.32.0
msal-extensions==1.3.1
murmurhash==1.0.12
mypy-extensions==1.0.0
neo4j==5.28.1
neo4j-graphrag==1.6.1
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==1.26.4
oauthlib==3.2.2
openai==1.60.2
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pansi==2024.11.0
patsy==1.0.1
pillow==11.1.0
POT==0.9.5
preshed==3.0.9
primp==0.11.0
protobuf==5.29.3
py2neo==2021.2.4
pyarrow==15.0.2
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.20.0
pynndescent==0.5.13
pyparsing==3.2.3
pypdf==5.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-multipart==0.0.18
python-socketio==5.12.1
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
setuptools==78.1.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smart-open==7.1.0
smolagents==1.14.0
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
sse-starlette==2.2.1
starlette==0.41.3
statsmodels==0.14.4
syncer==2.0.3
tenacity==9.1.2
textblob==0.18.0.post0
thinc==8.3.4
threadpoolctl==3.6.0
tiktoken==0.8.0
tomli==2.2.1
tqdm==4.67.1
typer==0.15.2
types-PyYAML==6.0.12.20250402
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
umap-learn==0.5.7
uptrace==1.29.0
urllib3==2.3.0
uvicorn==0.34.0
wasabi==1.1.3
watchfiles==0.20.0
weasel==0.4.1
wrapt==1.17.2
wsproto==1.2.0
zipp==3.21.0
